/* Base Styles */



h1{
	color: white;
}

body {
		background-color: black;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

section {
	border:	1px solid black;
	background-color: red;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: white;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid white;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: skyblue;
}

#beef {
	border: 1px solid white;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: skyblue;
}

#sushi {
	border: 1px solid white;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: skyblue;
	color: white;
	padding: 5px;
}

#chicken-div {
  margin-bottom: 5px;
  margin-top: 5px;
}

#beef-div {
  margin-bottom: 5px;
  margin-top: 5px;
}

#sushi-div {
  margin-bottom: 5px;
  margin-top: 5px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
}

#header-nav {
  border: 0;
  background-color: red;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: white;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}