.nm{
	margin-top: 10px;
}

.bx{
	height: auto;
	width: auto;
	background-color: lightpink;

}

.men{
	text-align: center;
	font-size: 50px;
	font-weight: 3px;
}

.td{
	text-decoration: none !important;
}